.songContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.songContainer .songTitle {
  display: block;
}

.customInput {
  padding: 3px !important;
}
